.screen {
    background-color: lightgreen;
    border-radius: 7px;
    font-family: "VT323";
    vertical-align: bottom;
    font-size: 1.5em;
    padding: 4%;
    overflow: hidden;
    word-wrap: break-word
}