.screen {
    background-color: lightgreen;
    border-radius: 7px;
    font-family: "VT323";
    vertical-align: bottom;
    font-size: 1.3em;
    padding: 4%;
    overflow: hidden;
    word-wrap: break-word;

    .ui-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}