@import "../../../constants/colours.scss";

.receiver {
    height: 20%;
    width: 50%;
    border-radius: 10px;
    background-color: $gray-2d;
    display: flex;
    padding: .25em 10%;

    & > div {
        background-color: $gray-1;
        border-radius: 10px;
        flex: 1;
    }
}