// RAW COLOURS

$gray-1: #111;
$gray-2d: #2D2D2D;
$gray-3: #333;
$gray-4: #444;

$white: #FFF;

$lightgreen: lightgreen;
$lightblue: lightblue;
$lightyellow: #eea;

// COMPONENT COLOURS

$screen-background: $lightgreen;

$phone-shell-colour: $gray-3;
$phone-shell-border: $gray-2d;
$phone-screen-border: $gray-1;

$logo-colour: $white;

$keyboard-button-colour: $gray-4;
$keyboard-label-colour: $white;

$app-background-colour: $lightyellow;