@import "../../../../constants/colours.scss";


button {
    flex: 1;
    border: none;
    outline: none;
    background-color: $keyboard-button-colour;
    margin: 1px;
    border-radius: 5px;
    color: $keyboard-label-colour;
    font-family: "Heebo";

    &.round-bottom-left {
        border-bottom-left-radius: 15px;
    }

    &.round-bottom-right {
        border-bottom-right-radius: 15px;
    }
}